//pulling in $grid-breakpoints object from index.scss
@use "sass:map";
@import '../../../index.scss';

.themeToggleElement {
  position: fixed;
  display: flex;
  right: 2rem;
  bottom: 2rem;
  background: rgba(240, 124, 50, 0.4);
  border-radius: 100%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(240, 124, 50, 0.3);
  z-index: 9999;
  height: 5.5em;
  width: 5.5em;
  padding: 0 2em;
  justify-content: center;
  align-items: flex-start;
  cursor: pointer;
}

.fs-xl {
  font-size: 3.5em;
}

.lightbulb-color {
  color: var(--bs-dark);
}

[data-bs-theme=dark] .lightbulb-color {
  color: var(--bs-white);
}

.toggle-shadow {
    box-shadow: 0 0.125rem .75rem rgba(0, 0, 0, 0.7) !important;
}

[data-bs-theme=dark] .toggle-shadow {
  box-shadow: 0 0.125rem .75rem rgba(255, 255, 255, 0.7) !important;
}

@media only screen and (max-width: (map.get($grid-breakpoints, "lg") - 1)) {
  .fs-xl {
    font-size: 2.5em;
  }
  .themeToggleElement {
      background-color: rgba(var(--logo-dark-orange-rgb), 0);
      right: 0rem;
      bottom: .5rem;
      height: 3em;
      width: 3em;
  }
  .toggle-shadow {
    box-shadow: none !important;
  }
  [data-bs-theme=dark] .toggle-shadow {
    box-shadow: none !important;
  }
}