//pulling in $grid-breakpoints object from index.scss
@use "sass:map";
@import './index.scss';

:root{
    --white: #ffffff;
    --black: #000000;
    --portrait-peach: #fbf2d6;
    --light-peach: #fffcf2;
    --light-blue-complimentary: #d4dbfa;
    --portrait-dark: #292a30;
    --developer-dark: #1d1f23;
    --complementary-violet: #717CAD;
    --site-nav-dark: #7A7668;
    --site-nav-very-dark: #3B3832;
    --very-light-blue: #afc3d8;
    --tan-shade: #C7BDA9;
    --dark-mode-tan-shade: #3B5875;
    --logo-bright-orange: #fbd528;
    --logo-dark-orange: #f07c32;
    --logo-dark-orange-rgb: 240, 124, 50;
    --dark-mode-dark-orange: #9BAEC2;
    --dark-mode-brighter-blue: #4E88C2;
    --dark-mode-brighter-blue-rgb: 78, 136, 194;
  }

.dark-section {
  background-color: var(--tan-shade);
}

[data-bs-theme=dark] .dark-section {
  background-color: var(--dark-mode-tan-shade);
}

// XS 
.section-title {
    font-size: 6em;
    line-height: .75em;
}

.section-title-sm {
  font-size: 4em;
}

@media only screen and (min-width: map.get($grid-breakpoints, "sm")) {
  .section-title {
      font-size: 8em;
  }

  .section-title-sm {
    font-size: 6em;
  }
}

@media only screen and (min-width: map.get($grid-breakpoints, "lg")) {
  .section-title {
      font-size: 10em;
  }

  .section-title-sm {
    font-size: 7em;
  }

  .position-absolute-lg {
      position: absolute;
  }

  .right-lg {
    right: 0;
  }
}

@media only screen and (min-width: map.get($grid-breakpoints, "xl")) {
  .section-title {
      font-size: 15em;
  }

  .section-title-sm {
    font-size: 10em;
  }
}

@media only screen and (min-width: map.get($grid-breakpoints, "xxl")) {
  .section-title-sm {
    font-size: 12em;
  }
}

* {
  transition: background-color 0.5s linear;
}