.gallery-bkgd > div {
    background-color: var(--white);
    z-index: 100;
    padding: 0 1.5rem;
}

[data-bs-theme=dark] .gallery-bkgd > div {
    background-color: rgb(var(--bs-dark-rgb));
}

.lb-data .lb-caption {
    font-size: 16px !important;
}

.lb-caption > span {
    font-weight: 400;
}